.portal-footer {
  background: #ead9aa;

  border-top: 2px solid #cdbf8f;

  //margin-top: 10px;

  padding: 5px 0;
}

.footer-content {
  text-align: center;

  font-size: 15px;

  color: #5c3317;

  line-height: 1.2;
}