<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active-menu" class="nav-link"> Home Page </a>
        </li>

        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active-menu" class="nav-link"> About Us </a>
        </li>

        <li class="nav-item">
          <a routerLink="/circulars" routerLinkActive="active-menu" class="nav-link"
            >Circulars & Memos</a
          >
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"> Online Enrolment </a>

          <ul class="dropdown-menu custom-dropdown">
            <li>
              <a class="dropdown-item" href="#">
                <span>Govt. Employee</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>Govt. Pensioner</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>Beneficiaries of Grant-in-Aid College</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>Beneficiaries of Grant-in-Aid University</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>Employees of PR Bodies</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>Pensioners of PR Bodies</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Online Claim </a>

          <ul class="dropdown-menu custom-dropdown">
            <li>
              <a class="dropdown-item" href="#">
                <span>Govt. Employee & Pensioner</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>GIA College & University</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <span>PR Bodies Employee & Pensioner</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Hospital </a>

          <ul class="dropdown-menu custom-dropdown">
            <li>
              <a routerLink="/hospital-list" routerLinkActive="active-menu" class="dropdown-item"
                >Empaneled Hospitals</a
              >
            </li>
            <li><a class="dropdown-item">Hospitals / Doctors Details</a></li>
            <li><a class="dropdown-item">Authenticate Beneficiary</a></li>
            <li><a class="dropdown-item">View Permissions</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active-menu">FAQ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-menu">Contact Us</a>
        </li>
      </ul>

      <button class="btn btn-light login-btn" routerLink="/login">Login</button>
    </div>
  </div>
</nav>
