.navbar {
  //background: #EBDEBC;
   background: #c0b59b;
   padding-top: 2px;
  padding-bottom: 2px;
}

.login-btn {
  color: #F64E2C;
  font-weight: 700;
}

/* Separator */
.navbar-nav .nav-item {
  position: relative;
  //margin: 0 12px;

}

.navbar-nav .nav-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 39px;
  padding-left: 1px;
  background: rgba(255,255,255,0.9);
  transform: translateY(-50%) rotate(28deg);
}

.nav-link {
  position: relative;
  color: #000 !important;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 500;

  padding: 10px 20px !important;

  transition: .3s;
  z-index: 1;
}

.nav-link::before {
  content: "";
  position: absolute;
  inset: 0;

  background: transparent;

  transform: skewX(-28deg);
  transform-origin: left;

  z-index: -1;

  transition: .3s;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link:hover::before {
  /*background: linear-gradient(#ffb24d, #ff7f1f);*/
  background: linear-gradient(#ff9a5a, #e85b2c);
  box-shadow: 0 4px 6px rgb(34, 34, 34);
}

.login-btn {
  background: #e85b2c;
  color: #fff;

  border: 2px solid #cecbcb;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.719);
  background: linear-gradient(#ff9a5a, #e85b2c);

  padding: 5px 40px;
  font-weight: 700;

  transition: .3s;
}

.login-btn:hover {
  background: #fff;
  color: #e85b2c;
  box-shadow:0 3px 8px rgba(0,0,0,.18);
}

.dropdown-menu{
    display:block;
    opacity:0;
    left:-12px;
    margin-top:0;
    visibility:hidden;
    transform:translateY(10px);

    transition:.25s;
}

.nav-item.dropdown:hover>.dropdown-menu{

    opacity:1;
    visibility:visible;

    transform:translateY(0);
}

.custom-dropdown {
    min-width:max-content;
    min-width:260px;
    padding: 0;
    border: 1px solid #d6b86b;
    border-radius: 0;
    background: #fff4c4;
    box-shadow: none;
    border-radius:6px;
    overflow:hidden;
    box-shadow:0 6px 16px rgba(0, 0, 0, 0.658);

}

.custom-dropdown .dropdown-item {
    position: relative;
    overflow: hidden;

    padding: 10px 12px;
    font-size: 16px;
    color: #6b3b00;

    border-bottom: 1px solid #d8c37a;
    background: transparent;

    transition: color .3s;
    z-index: 1;
}

.custom-dropdown .dropdown-item{
    padding:10px 14px;
    font-size:15px;
    color:#6b3b00;
    border-bottom:1px solid #d8c37a;
    background:#fff4c4;
    transition:.25s;
}

.custom-dropdown .dropdown-item:hover{
    background: linear-gradient(#ff9a5a, #e85b2c);
    color:#fff;
}


.dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
}

.active-menu {
  color: #fff !important;
}

.active-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#ff9a5a, #e85b2c);
  transform: skewX(-28deg);
  transform-origin: left;
  z-index: -1;
}