<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a routerLink="/home" class="nav-link active">Home Page</a>
        </li>

        <li class="nav-item">
          <a routerLink="/about" class="nav-link">About Us</a>
        </li>

        <li class="nav-item">
          <a routerLink="/circulars" class="nav-link">Circulars & Memos</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown">
             Online Enrolment
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Employee</a></li>
            <li><a class="dropdown-item">Pensioner</a></li>
            <li><a class="dropdown-item">College</a></li>
            <li><a class="dropdown-item">University</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown">
             Online Claim Submission
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Govt. Beneficiary</a></li>
            <li><a class="dropdown-item">GIA Beneficiary</a></li>
            <li><a class="dropdown-item">Panchyat Beneficiary</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown">
             Hospital
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Empaneled Hospitals</a></li>
            <li><a class="dropdown-item">Authenticate Beneficiary</a></li>
            <li><a class="dropdown-item">Permission</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link">FAQ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Download</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Contact Us</a>
        </li>

      </ul>

      <button class="btn btn-light login-btn">
        Login
      </button>

    </div>

  </div>
</nav>
